.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px green solid;
  border-radius: 5px;
  min-width: 210px;
  align-items: flex-start;
  row-gap: 5px;
  background-color: transparent;
  color: inherit;
}
