.detailed-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px green solid;
  border-radius: 5px;
  min-width: 320px;
  align-items: center;
  flex: 0 0 320px;
  gap: 10px;
}
